oasis: one way audio on some forwards

I'm experiencing one way audio when I forward some incoming calls. The same that happened to me some time ago with incoming calls to gigaset N510.

I'm still not sure what is happening. In my system I have decided to allow only PCMA for a while now, hoping that was the best way to avoid this kind of weird audio issues and to try to find out more easily what's happening.

The following is what I can see on the capture of a call forwarded to a mobile. IPs have been changed by these ones,

ppp.ppp.ppp.ppp -> my provider RTP proxy IP
uuu.uuu.uuu.uuu -> my kamailio users IP, same as my RTP proxy IP
ttt.ttt.ttt.ttt -> my kamailio trunks IP

The call reaches ivozprovider kamtrunks from my provider with a SDP that looks like this,

```
v=0
o=Sonus_UAC 131886 320133 IN IP4 ppp.ppp.ppp.ppp
s=SIP Media Capabilities
c=IN IP4 ppp.ppp.ppp.ppp
t=0 0
m=audio 64346 RTP/AVP 8 0 18 101
a=rtpmap:8 PCMA/8000
a=rtpmap:0 PCMU/8000
a=rtpmap:18 G729/8000
a=rtpmap:101 telephone-event/8000
a=fmtp:101 0-15
a=sendrecv
a=ptime:20
```

A ptime of value 20 is being specified. So they want PCMA with a fixed ptime 20. This INVITE is forwarded from kamailio trunks to asterisk with the following SDP

```
v=0
o=Sonus_UAC 131886 320133 IN IP4 uuu.uuu.uuu.uuu
s=SIP Media Capabilities
c=IN IP4 uuu.uuu.uuu.uuu
t=0 0
m=audio 64346 RTP/AVP 8 0 18 101
a=rtpmap:8 PCMA/8000
a=rtpmap:0 PCMU/8000
a=rtpmap:18 G729/8000
a=rtpmap:101 telephone-event/8000
a=fmtp:101 0-15
a=sendrecv
a=ptime:20
```

Only difference is the IP is replaced with my system rtp proxy IP

Then asterisk in ivozprovider starts the call foward to a mobile number sending an INVITE to kamailio trunk with this SDP.

```
v=0
o=- 306431916 306431916 IN IP4 ttt.ttt.ttt.ttt
s=Asterisk
c=IN IP4 ttt.ttt.ttt.ttt
t=0 0
m=audio 10710 RTP/AVP 8 101
a=rtpmap:8 PCMA/8000
a=rtpmap:101 telephone-event/8000
a=fmtp:101 0-16
a=ptime:20
a=maxptime:150
a=sendrecv
```

That INVITE goes then from kamailio trunks to my provider with this SDP

```
v=0
o=- 306431916 306431916 IN IP4 uuu.uuu.uuu.uuu
s=Asterisk
c=IN IP4 uuu.uuu.uuu.uuu
t=0 0
m=audio 10710 RTP/AVP 8 101
a=rtpmap:8 PCMA/8000
a=rtpmap:101 telephone-event/8000
a=fmtp:101 0-16
a=ptime:20
a=maxptime:150
a=sendrecv
```

Ivozprovider always uses both ptime 20 and maxptime 150. And my provider replies to the INVITE in a 183 reply with this SDP

```
v=0
o=Sonus_UAC 525751 800954 IN IP4 ppp.ppp.ppp.ppp
s=SIP Media Capabilities
c=IN IP4 ppp.ppp.ppp.ppp
t=0 0
m=audio 37274 RTP/AVP 8 101
a=rtpmap:8 PCMA/8000
a=rtpmap:101 telephone-event/8000
a=fmtp:101 0-15
a=sendrecv
a=ptime:20
```

Again with just a fixed ptime 20.

When I look at the RTP packages in wireshark I can see the legth of most packages is 216 -consistent with a ptime 20- but some packages coming from my provider are 376 in legth -which must be equivalent to a ptime: 30 or 40-.

Now my bet is that ivozprovider receives RTP packages from one of the sources with a ptime: 30 from my SIP provider but has to forward them with a fixed ptime: 20 which is what my provider is asking for.

So what I have to investigate, maybe someone already knows the answer and can clarify this, is if with a ptime: 20 and maxptime: 150 in SDP the other side can decide to send the RTP with ptime 30 -ignoring the ptime 20 and taking into account maxptime- or otherwise if it should send RTP with ptime: 20.

And, if a SDP shows only ptime 20, is it mandatory for the other end to send the audio with that packetization or it can ignore it?

I have tried the gigaset n510 again and I can confirm it includes just ptime: 20 on its SDP too.

It is being very difficult for me to find a solution to this problem. I have still not clue if the problem is like I describe here but all indicates to be so.

Is there any way to change maxptime on ivozprovider? I would like to try to send maxptime 20 instead of maxptime 150 to see what happens. Maybe some way to rewrite SDP on one  of the proxies?

I have found how to do it with this code before record_route in kamailio trunks config.

```
    if (has_body("application/sdp")) {
        ($dlg_var(log)) xlog("L_WARN", "[b$dlg_var(brandId)][$dlg_var(cidhash)] Removing maxptime\n");
        replace_body_all("a=maxptime:150\r\n","");
        msg_apply_changes();
    }

    # Add record-route to INVITE requests
    record_route();
```

Not sure but probably this will remove maxptime from incoming and outgoing SIP requests but for testing purpose will be enough for me.

I will test if this solves the problem with forwards and with incoming calls to gigaset N510 on my system in the coming days.

This removes maxptime on _INVITE_ requests but _183 SESSION PROGRESS_ and _200 OK_ messages from kamailio trunks to my provider still send maxptime:150 so still no luck.

Anothe change to kamailio trunks config did the trick. After these lines,
https://github.com/irontec/ivozprovider/blob/oasis/kamailio/trunks/config/kamailio.cfg#L1116-L1117

```
onreply_route {
    if ($dlg_var(log)) xlog("L_NOTICE", "[b$dlg_var(brandId)][$dlg_var(cidhash)] Response: '$rs $rr' to '$cs $rm' from '$fu' ($si:$sp) [$proto]\n");

    # Remove maxptime
    if (has_body("application/sdp")) {
        if ($dlg_var(log)) xlog("L_WARN", "[b$dlg_var(brandId)][$dlg_var(cidhash)] Removing maxptime\n");
        replace_body_all("a=maxptime:150\r\n","");
    }
```
Maybe these lines in **_onreply_route_** would be enough as it is in fact in the reply to my provider where I wanted to remove maxptime. I have not experience enough to be sure.

I can only confirm that this solves the one way audio problem in my system. It solves it on both situations.

- On forwarded calls to a mobile from most of sources through one of my providers.

- On incoming calls to gigaset n510. I can start using those DECT stations again.

I'm going to leave my system with both these changes in **_request_route_** and **_onreply_route_** though I bet including those lines in **_onreply_route_** would be just enough.

I would be grateful for any advice about this.

Hi @manfer,

To understand all the **_ptime/maxptime_** corresponding RFCs should be reviewed:

- [RFC2327](https://tools.ietf.org/html/rfc2327): introduces ptime parameter.

- [RFC3266](https://tools.ietf.org/html/rfc3266): updates previous RFC definition for IPv6.

- [RFC4566](https://tools.ietf.org/html/rfc4566): obsoletes previous 2 definitions and adds **_maxptime_** parameter.

As far as I know, **_ptime_** suggests the encoder (the party that is going to send RTP streams to the SDP writer) the preferred packetisation interval for the media. The other party may follow the suggestion or may use another packetisation interval as long as it does not exceed **_maxptime_** value.

**_ptime/maxptime_** value affects all the payload types declared in the media description line ([interesting read](https://tools.ietf.org/id/draft-garcia-mmusic-multiple-ptimes-problem-03.html)) and I think Asterisk sets different values depending on the configured preferred codec [(see here for _alaw_)](https://github.com/irontec/asterisk/blob/169d7335ae60af26d1759216718023dd7f19ff22/main/codec_builtin.c#L157). As far as I know, you will need to patch Asterisk to avoid undesired values/parameters.

Finally, about your concrete problem, my thoughts:

- Asterisk is a B2BUA so SDP negotiation is _independent_ for each leg.

- Your patch removes **_maxptime_** in KamTrunks, so it shouldn't affect to KamUsers leg. If that patch solved the problem, it seams that the problem is on your carrier side, not on user's side.

- Is IvozProvider using a packetisation interval bigger than the one defined by the other party in the **_maxptime_** parameter?

  - If so, this could be a bug and we _would try_ to fix it.
  - Otherwise, it won't be considered a IvozProvider bug and you should ask to other parties involved.

I hope you find this useful.

Regards,

Thanks @cruzccl 

After 2 months with this hack on kamailio config that removes **maxptime** I can ensure 100% that it solved the problems we had on clients connected to ivozprovider oasis.

The problems cliens reported were:

- one way audio in few calls.
- no audio on forwards to mobiles.
- no audio in some transfers to mobiles.
- calls that were losing audio for few seconds then audio back, losing audio again some time later on same call and back again after few seconds, ..., constantly during a call.
- no audio in calls to gigaset N510.

All those audio problems had been solved. No audio problems so far in 2 months.

I will try to read the docs in depth and one weekend I will try to get some captures again without removing **maxptime** and using gigaset N510 -a device that doesn't include **maxptime** on its SDP and asks for fixed ptime 20-

--------------------------------

**Is IvozProvider using a packetisation interval bigger than the one defined by the other party in the maxptime parameter?**

I think it is doing so. For example when gigaset N510 is part of a call it asks for ptime 20 -no **maxptime** on its SDP- but ivozprovider sends it the audio with a higher packetization because asterisk adds **maxptime** to the SIP INVITE. So my provider decides to send audio back with a ptime higher than 20 and that's the audio received on gigaset N510 which can't handle it.

After reading the RFCs, I must agree with @cruzccl on this:

> As far as I know, **_ptime_** suggests the encoder [...]  as long as it does not exceed **_maxptime_** value.

You mention:

> Not higher that **maxptime** but higher than **ptime** when **maxptime** is not present. So I think that is not correct. For example when gigaset N510 is part of a call it asks for **ptime** 20 -no **maxptime** on its SDP- but ivozprovider sends it the audio with a higher packetization.

This behaviour is RFC complaint. SDP ptime attribute does not impose a restriction on packetisation. All frames must be able to be decoded regarding the packetisation size (see RFC4566) and this attribute is a recommendation for encoding.

Gigaset N510 may request 20ms frames, but without maxptime, it must accept, for example 150ms per frame and decode it without problem. If not, then Gigaset N510 is not properly handing RTP decoding, and should be fixed.

If you can find documentation in RFC that contradicts this, please point that out, I'm truly interested in SDP magics :-D. Otherwise this is an environment issue, and the solution may work for your non RFC compliant carriers or terminals. 

Thanks for your time @manfer !!

Thanks @cruzccl and @Kaian 

I can't say anything to disagree reading the RFCs. The only thing I can notice is that on ptime description they had not decided to use a "MUST" but "SHOULD".

Besides I really can't see the point of ptime if the other party is going to do whatever it wants. But that seems the interpretation of the RFC.

I will continue with the modified version of kamailio config files anyway because whatever the RFCs say I need a working system. And curiously when I remove maxptime my non RFC compliant carrier software respects ptime value.

Thanks for all the info and, as always, highly detailed issue.

Sure our path will cross with one of those carriers or phones and all this informtion may come to our mind! We'll try to fight our way with standards in hand, and will most probably lose anyway! 😅 

Regards!